/* imposta una foto come sfondo dell'hero */
/* #hero {
    background: url('img/gerson-repreza-hniuowbXbBY-unsplash.jpg');
    height: 1079px;
    background-position-x: center;
    background-size: cover;
} */

/* imposta la navbar trasparente */
#hero .navbar.is-transparent {
    background-color: transparent;
}

/* allinea i bottoni di richiesta al centro */
.service-buttons {
    justify-content: center !important;
}

/* aggiunge una linea di demarcazione prima dei loghi delle aziende */
.logos:before {
    content: '';
    position: absolute;
    width: 50%;
    left: 25%;
    top: 0;
    border-top: 1px solid #ebebeb;
}

/* .section #contact:before {
    content: '';
    position: absolute;
    width: 50%;
    left: 25%;
    top: 0;
    border-top: 1px solid #ebebeb;
} */

/* aggiunge uno sfondo alla zona dei contatti */
/* #contact {
    background: url(img/paulette-wooten-N8O54MgWKnQ-unsplash.jpg);
    background-size: cover;
} */

/* imposta le dimensioni della pagina e i colori dei link nella navbar */
@media screen and (max-width: 1023px) {
    .navbar-menu a.has-text-white {
        color: #4a4a4a !important;
    }
    .navbar-menu a.has-text-white:hover {
        color: #3273dc !important;
    }
}

/* cambia il colore dello sfondo della bar interattiva */
/* #javascript:hover {
    background-color: orange !important;
    color:#3273dc !important;
    color-scheme: purple;
} */

/* quando si passa sopra col mouse questi comandi fanno cambiare colore alle cards */
#foss:hover {
    background-color: hsl(238, 66%, 92%);
    color: purple;
}

#telegram:hover {
    background-color: hsl(206, 70%, 96%);
    color:  hsl(204, 86%, 53%);
}

#linux:hover {
    background-color: hsl(347, 90%, 96%);
    color:  hsl(348, 100%, 61%);
}

#musica:hover {
    background-color: hsl(48, 100%, 96%);
    color:  hsl(48, 80%, 37%);
}

#skills:hover {
    background-color: hsl(141, 23%, 83%);
    color: hsl(171, 100%, 29%);
}


/* imposta il "colore di telegram" ad un determinato elemento */
#tg-color {
    background-color: #0088cc !important;
    color: hsl(0, 0%, 96%);
}

/* rimuove le decorazioni ai link nel footer delle cards */
#card-footer-item.a {
    text-decoration: none;
}


/* DARK MODE */
.dark-mode{
    color: hsl(0, 0%, 96%);
    background-color: hsl(0, 0%, 21%);
}

.dark-mode-code{
    color: #da1039;
    background-color: hsla(0, 2%, 12%, 0.692);
}

.dark-mode-dropdown-item{
    color: hsl(0, 0%, 96%);
    background-color: hsl(0, 0%, 21%);
}

.dark-mode-dropdown-item:hover{
    color:#3273dc !important;
}

.dark-mode-html{
    color: hsl(0, 0%, 21%);
}

.dark-mode-footer{
    color: hsl(0, 0%, 96%);
    background-color: hsl(0, 0%, 19%);
}

.dark-mode-card{
    color: hsl(0, 0%, 96%);
    background-color: hsl(0, 0%, 29%);
}

#foss .dark-mode{
    color: hsl(0, 0%, 96%);
    background-color: hsl(0, 0%, 21%);
}

/* java progress bar cambia colore */
.progress::-moz-progress-bar { 
    background-color: orange;
}

.dark-mode-menu {
    background-color: hsl(0, 0%, 21%);
}

.dark-mode-menu.navbar-menu.is-active {
    background-color: hsl(0, 0%, 21%);
}

#loghi {
    background: url('img/bacheca.jpg');
    height: auto;
    background-position-x: center;
    background-size: cover;
    border-radius: 10px;
}

.dark-mode.a.card-footer-item{
    color: hsl(0, 0%, 96%) !important;
    background-color: hsl(0, 0%, 29%) !important;
}

#tg-blog{
    width: fit-content;
}